body{
  background-color: #1F1F26;
  color: white;
  font-family: 'Inter';
}

.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app--forms{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.generic--container{
  margin-top: 40px;
  margin-left: 80%;
  width: 400px;
  background-color: #333259;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.generic--title{
  margin-top: 10px;
  margin-bottom: 0;
}

.generic--form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  margin-bottom: 10px;
  gap: 5px;
}

.generic--input, .generic--textarea{
  width: 250px;
  margin-bottom: 5px;
}

.generic--date--desc{
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  margin: 0;
}

.generic--phone--desc{
  font-size: 15px;
  font-family: 'Inter';
  font-weight: 400;
  margin: 0;
}

.generic--button{
  width: 250px;
  margin-bottom: 10px;
  background-color: #4369D9;
  border: none;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.generic--button:hover{
 background-color: #4357ca;
 border: 2px solid #4369D9;
}

.composed--container{
  width: 25%;
  background-color: #333259;
  border-radius: 20px;
  text-align: center;
  margin-right: 20%;
  margin-top: 40px;
}

.composed--title--avatar--container{
  display: flex;
  flex-direction: row;
}

.composed--avatar{
  align-self: center;
  width: 120px;
  height: 120px;
  border: 3px solid #4369D9;
  border-radius: 20px;
}

.composed--general--container{
  display: flex;
  width: 100%;
  flex-direction: column;
  line-height: 0.2;
  text-align: left;
  height: 200px;
}

.composed--education{
  height: 200px;
}

.compost--experience{
height: 200px;
}