body{
  background-color: #1F1F26;
}

.App{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app--forms{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.generic--container{
  margin-top: 40px;
  margin-left: 80%;
  width: 400px;
  background-color: #333259;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.generic--title{
  margin-top: 10px;
}

.generic--form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15%;
  gap: 5px;
}

.generic--input, .generic--textarea{
  width: 250px;
  margin-bottom: 5px;
}

.generic--button{
  width: 250px;
  margin-bottom: 10px;
  background-color: #4369D9;
  border: none;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.generic--button:hover{
 background-color: #4357ca;
 border: 2px solid #4369D9;
}

.composed--container{
  width: 25%;
  background-color: #333259;
  border-radius: 20px;
  text-align: center;
  margin-right: 20%;
  margin-top: 40px;
}
