.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body{
    background-color: #3071F2;
    font-family: 'Inter';
    font-weight: 400;
}
h4{
  margin: 0;
  color: #135EF2;
}

h1{
    color: #5E90F2;
}

.App{
    margin: 0;
}

.app--horizontal{
  display: flex;
  flex-direction: row;
}

hr{
  width: 100%;
  border: 1px solid #8DC3F2;
}

.subtitle--hr{
  width: 25%;
  margin-right: 75%;
}

.subtitle{
  margin: 0;
  color: #4466aa;
}

.title--container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App--container{
  font-family: 'Inter';
  font-weight: 400;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px;
  width: 400px;
  height: fit-content;
  background-color: #F2F2F2;
  box-shadow: 8px 10px 30px black;
  margin-top: 3vh;
  margin-bottom: 3vh;
  gap: 20px;
  border-radius: 10px;
}

.general--container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personal--button, .education--button, .experience--button{
  width: 10%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #2f5b79;
  cursor: pointer;
}

.general--input{
  margin-top: 5px;
  color: black;
  background-color: white;
  width: 50%;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 5px;
}

input:focus{
  outline: none;
  border: 2px solid black;
}

::placeholder{
  color: black;
}